
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.header {
 
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.header img {
    border-radius: 50%;
    max-width: 200px;
    height: auto;
}

.header h1 {
    font-size: 2.5rem;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #04AA6D;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}


.navbar {
    background-color: #333;
    padding: 10px 0;
}

.navbar-brand {
    color: white;
}

.navbar-toggler-icon {
    background-color: white;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.nav-link {
    color: white;
}


#about {
    background-color: #f9f9f9;
    padding: 40px 0;
}

#about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#about p {
    font-size: 1.2rem;
}


#skills {
    background-color: #f3f4f6;
    padding: 40px 0;
}

#skills h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
}

#skills .row {
    margin-top: 20px;
}

#skills h3 {
    font-size: 1.5rem;
}

.progress {
    height: 20px;
    margin-top: 10px;
}


#projects h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
}


#contact {
    background-color: #f9f9f9;
    padding: 40px 0;
}

#contact h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
}


#contact-info {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
}

#contact-info i {
    font-size: 1.5rem;
    margin-right: 10px;
}


.project-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.2s;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.project-item h4 {
    font-size: 1.2rem;
    margin-top: 10px;
}

.project-item a {
    color: #3a3d99;
    text-decoration: none;
}


.project-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#contact {
    background-color: #f9f9f9;
    padding: 40px 0;
}

#contact h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
}


.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-item {
    flex: 0 0 calc(48% - 10px); 
    margin-bottom: 10px;
}

.contact-item i {
    font-size: 1.5rem;
    margin-right: 8px;
    color: #042baa;
}
